@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root{
    --bg-color: #FF1D91;
    --btn-color: yellow;
}
body{
    font-family: 'Oswald', sans-serif;
}
.slick-dots{
    bottom: 15px !important;
}
button{
    background-color: yellow !important;
    color: black !important;
}
.slick-dots li button{
    display: none !important;;
}